/*PRODUCT PAGE*/
.product-content {
    background-color: #f3f3f2;
    .info-bl {
        font: 300 40px/50px 'Source Sans Pro', sans-serif;
        display: block;
        text-align: center;
        background: #eaeaea none;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        color: #232323;
        .customers-top-bl {
            display: block;
            width: 100%;
            min-height: 345px;
            .customers-top-content{
                display: table;
                vertical-align: middle;
                width: 100%;
                height: 345px;
                h1 {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }

    .contacts-product-bl {
        background-color: #232323;
        display: block;
        font: 300 30px/44px 'Source Sans Pro', sans-serif;
        text-align: center;
        color: #858585;
        span { color: #ccc;}
        .container {
            .row {
                .contacts-product-content {
                    display: table;
                    width: 100%;
                    height: 336px;
                    vertical-align: middle;
                    .center-bl {
                        vertical-align: middle;
                        display: table-cell;
                    }
                }  
            }
        }
    }
/*TOUR PAGE*/
    .security-info {
        padding-top: 130px;
        padding-bottom: 30px;
        background: #17222f url('../img/product-top-bg.jpg') 50% 0 /cover no-repeat;
        text-align: center;
        min-height: 506px;
        font: 300 24px/34px 'Source Sans Pro', sans-serif;
        color: #fff;
        .security-body {
            .security-title {
                font: bold 48px/48px 'Source Sans Pro', sans-serif;
                letter-spacing: 6px;
                border-bottom: 2px solid #fff;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                margin-bottom: 61px;
                color: #fff;
                @include transition(all 0.35s);
                &:hover {
                    border-color: transparent;
                }
            }

            .security-subtitle{ 
                font-size: 40px;
                letter-spacing: 2px;
                line-height: 40px;
                font-weight: normal;
                padding-bottom: 24px;
            }
        }
    }  

    .opport-bl {
        font: 300 24px/36px 'Source Sans Pro', sans-serif;
        color: #666;
        .opport-list {
            li {
                background-color: #eeeeed;
                padding: 127px 0 125px;
                @include clearfix();
                .col-md-12 {
                    padding: 0 94px;
                    @include clearfix();
                    .left-bl {
                        padding: 9px 0 0 0;
                        width: 32%;
                        img {
                            display: block;
                            max-width: 100%;
                        }
                    }

                    .right-bl {
                        width: 68%;
                        padding: 0;
                        .opport-title {
                            font: bold 48px/52px 'Source Sans Pro', sans-serif;
                            margin-bottom: 14px;
                            color: #232323;
                        }

                        .opport-subtitle{
                            font: normal 30px/34px 'Source Sans Pro', sans-serif;
                            margin-bottom: 22px;
                            color: #232323;
                        }

                        .oport-content {

                        }
                    }
                }

                &:nth-child(2n) { 
                    background-color: #f3f3f2;
                    .col-md-12 {
                        .left-bl {
                            float: right;
                            img {
                                float: right;
                            }
                        }

                        .right-bl {
                            float: left;
                        }
                    }
                }
            }
        }
    }

    .info-list,
    .security-basic-list {
        font: 300 22px/32px 'Source Sans Pro', sans-serif;
        padding-top: 125px;
        padding-bottom: 13px;
        border-bottom: 1px solid #232323;
        color: #666;
        @include clearfix();
        li {
            padding-left: 0;
            padding-right: 22px;
            margin-bottom: 29px;
            .question-title {
                font: normal 30px/34px 'Source Sans Pro', sans-serif;
                margin-bottom: 16px;
                color: #232323;
            }

            .question-content {
                p { margin-bottom: 22px;}

                a { 
                    font-weight: normal;
                    text-decoration: none;
                    color: #232323;
                }
            }

            &:nth-child(2n) {
                padding-right: 0;
                padding-left: 22px;
            }
        }
    }

    &.listrunner-page {
        padding-bottom: 53px;
        .request-demo-bl {
            background-color: #eaeaea;
            font-size: 40px;
            line-height: 50px;
            color: #232323;

            .btn.request-demo-btn {
                border-color: #666;
                color: #666;
            }

            .cetntrate-middle { 
                min-height: 463px;
                .request-demo-content {
                    padding-bottom: 126px;
                    h1 {

                    }
                }
            }
        }

        .listrunner-title {
            font: bold 24px/24px 'Source Sans Pro', sans-serif;
            letter-spacing: 4px;
            padding: 67px 10px 69px;
            text-transform: uppercase;
            text-align: center;
            color: #232323;
            @include clearfix();
        }
    }
/*SECURITY PAGE*/
    &.security-page {
        .security-basic {
            background-color: #eeeeed;
            padding-top: 71px;
            .security-basic-list {
                border: 0 none;
                padding-top: 67px;
                padding-bottom: 79px;
            }
        }

        .security-library {
            background-color: #f3f3f2;
            padding-top: 71px;
            padding-bottom: 79px;
            .library-option-list {
                clear: both;
                padding-top: 59px;
                display: block;
                border-top: 1px solid #dedede;
                @include clearfix();
                li {
                    font: 300 22px/32px 'Source Sans Pro', sans-serif;
                    padding-left: 25px;
                    padding-right: 25px;
                    padding-bottom: 51px;
                    color: #666;
                    .option-title {
                        font-weight: normal;
                        text-decoration: none;
                        color: #232323;
                        @include transition(color 0.35s);
                        &:hover {
                            color: #666;
                        }
                    }

                    .option-excerpt {

                    }

                    &:first-child,
                    &:nth-child(3n + 1) {
                        padding-left: 0;
                    }

                    &:nth-child(3n) { padding-right: 0;}
                }
            }

            .security-lib-info {
                clear: both;
                font: normal 22px/32px 'Source Sans Pro', sans-serif;
                padding-bottom: 32px;
                color: #666;
                @include clearfix();
                li {
                    padding-left: 0;
                    padding-right: 22px;
                    padding-bottom: 32px;
                    &:nth-child(2n) {
                        padding-right: 0;
                        padding-left: 22px;
                    }
                }
            }

        }
        
        .security-title {
            font: 300 24px/34px 'Source Sans Pro', sans-serif;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 4px;
            position: relative;
            margin-bottom: 50px;
            color: #232323;
            strong { font-weight: bold;}
            &.locked { padding-top: 57px;}
            &.locked:after {
                background: transparent url('../img/loked.png') 0 0 no-repeat;
                display: block;
                content: '';
                margin-left: -13px;
                @include size(26px 33px);
                @include position(absolute, 0px auto auto 50%);
            }   
        }
                

    }
}
