---
layout: customers
title: Case Studies
category: casestudies
customers_page: casestudies-page
---
<!--{% assign no_posts = true %}

{% for post in site.posts %}      
  {% if post.category == 'casestudies' %}
    <div class="post">
      <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <small><strong>Category:</strong> {{ post.category }}</small>
      <p class="meta">Date: {{ post.date }}</p>
      <div class="entry">
        {{ post.content }}
      </div>
    </div>
    {% assign no_posts = false %}
  {% endif %}
{% endfor %}

{% if no_posts %}
  <div class="alert alert-warning">There is no content</div>
{% endif %}-->

<div class="info-bl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="customers-top-bl">
                    <div class="customers-top-content">
                        <h1 class="top-title">An in-depth look at a few of our<br> favorite customers.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="col-md-6 content-bl">
                <div class="img-bl">
                    <img src="{{site.baseurl}}/img/customers/casestudies/stanford.png" alt="">
                </div>
                <div class="bs-docs-section">
                    <a href="#">Discovering data using MongoDB and Listrunner.</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 content-bl">
                <div class="img-bl">
                    <img src="{{site.baseurl}}/img/customers/casestudies/ablixa.png" alt="">
                </div>
                <div class="bs-docs-section">
                    <a href="#">Building dashboards for management, sales, and the product team.</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 content-bl">
                <div class="img-bl">
                    <img src="{{site.baseurl}}/img/customers/casestudies/voya.png" alt="">
                </div>
                <div class="bs-docs-section">
                    <a href="#">Empowering the entire team with access to data.</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 content-bl">
                <div class="img-bl">
                    <img src="{{site.baseurl}}/img/customers/casestudies/childrens.png" alt="">
                </div>
                <div class="bs-docs-section">
                    <a href="#">Listrunner Helps Songtrust Peer into Live Data.</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 content-bl">
                <div class="img-bl">
                    <img src="{{site.baseurl}}/img/customers/casestudies/indiegogo.png" alt="">
                </div>
                <div class="bs-docs-section">
                    <a href="#">Enabling every member of the team to view and enact upon data.</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 content-bl">
                <div class="img-bl">
                    <img src="{{site.baseurl}}/img/customers/casestudies/waldson.png" alt="">
                </div>
                <div class="bs-docs-section">
                    <a href="#">Working with Salesforce and the database in real-time.</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 content-bl">
                <div class="img-bl">
                    <img src="{{site.baseurl}}/img/customers/casestudies/unilevev.png" alt="">
                </div>
                <div class="bs-docs-section">
                    <a href="#">Visualizing sales data for the entire company.</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 content-bl">
                <div class="img-bl">
                    <img src="{{site.baseurl}}/img/customers/casestudies/cvs.png" alt="">
                </div>
                <div class="bs-docs-section">
                    <a href="#">Finding (and fixing) problems before the customer does.</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="request-demo-bl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cetntrate-middle">
                    <div class="request-demo-content">
                        <h1 class="top-title">Listrunner lets you quickly turn all your data into actionable insights.<br>Request a demo and see it in action today!</h1>
                        <a href="#" class="btn btn-big request-demo-btn">Request a Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
