<footer>
    <div class="container">
        <div class="row">
            <dov class="col-md-12">
                <div class="bs-docs-sections">
                    <ul class="footer-list">
                    	<li class="col-md-4">
                            <div class="bs-docs-sections">
                    			<ul class="social-bl">
								  	<li class="facbook"><a href="#"></a></li>
								  	<li class="in"><a href="#" ></a></li>
								  	<li class="twitter"><a href="#"></a></li>
								</ul>
                            </div>
                    	</li>
                    	<li class="col-md-4">
                            <div class="bs-docs-sections">
                                 sdwefr
                            </div>   
                        </li>
                    	<li class="col-md-2">
                            <div class="bs-docs-sections">
                                fer    
                            </div>   
                        </li>
                    	<li class="col-md-2">
                            <div class="bs-docs-sections">
                                ewrg
                            </div>   
                        </li>
                    </ul>
                </div>
            </dov>
        </div>
    </div>
    <div class="footer-more">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-pages">
                        <div class="col-md-8 left-bl">
                            <div class="bs-docs-sections">
                                <div class="col-md-3">
                                    <h3 class="page-tile">Product</h3>
                                    <ul class="pages-list">
                                        <li><a href="#">Tour</a></li>
                                        <li><a href="#">Data Sources</a></li>
                                        <li><a href="#">Security</a></li>
                                        <li><a href="#">Plans</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Why Listrunner</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3 class="page-tile">Customers</h3>
                                    <ul class="pages-list">
                                        <li><a href="#">Testimonials</a></li>
                                        <li><a href="#">Case Studies</a></li>
                                        <li><a href="#">Tweets</a></li>
                                        <li><a href="#">Industries</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3 class="page-tile">Company</h3>
                                    <ul class="pages-list">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Jobs</a></li>
                                        <li><a href="#">Press</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Legal</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3 class="page-tile">Support</h3>
                                    <ul class="pages-list">
                                        <li><a href="#">Docs</a></li>
                                        <li><a href="#">F.A.Q</a></li>
                                        <li><a href="#">Education</a></li>
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Knowledge Base</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-4 right-bl">
                            <div class="bs-docs-sections">
                                <p>"Listrunner changed the way we make business and product decisions. Every decision is now data driven - we can test which prices work best, which marketing effort was most effective, and quickly find out any details or statistics across all the moving pieces of our platform."</p>
                                <p>Eliran Sapir, CEO, Apptopia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

