<footer class="{{page.page_class}}">
    <div class="footer-more {{page.page_class}}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-pages">
                        <div class="col-md-8 left-bl">
                            <div class="bs-docs-sections">
                                <div class="col-md-3">
                                    <h3 class="page-title">Product</h3>
                                    <ul class="pages-list">
                                        {% for section in site.data.product %}
                                            {% if page.url contains section.url %}      
                                                {% assign c = "active" %}
                                            {% else %}
                                                {% assign c = "" %}
                                            {% endif %}
                                            <li class="{{ c }}"><a href="{{ site.baseurl }}{{ section.url }}">{{ section.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3 class="page-title">Customers</h3>
                                    <ul class="pages-list">
                                        {% for section in site.data.customers %}
                                            {% if page.url contains section.url %}      
                                                {% assign c = "active" %}
                                            {% else %}
                                                {% assign c = "" %}
                                            {% endif %}
                                            <li class="{{ c }}"><a href="{{ site.baseurl }}{{ section.url }}">{{ section.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3 class="page-title">Company</h3>
                                    <ul class="pages-list">
                                        {% for section in site.data.company %}
                                            {% if page.url contains section.url %}      
                                                {% assign c = "active" %}
                                            {% else %}
                                                {% assign c = "" %}
                                            {% endif %}
                                            <li class="{{ c }}"><a href="{{ site.baseurl }}{{ section.url }}">{{ section.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3 class="page-title">Support</h3>
                                    <ul class="pages-list">
                                        {% for section in site.data.support %}
                                            {% if page.url contains section.url %}      
                                                {% assign c = "active" %}
                                            {% else %}
                                                {% assign c = "" %}
                                            {% endif %}
                                            <li class="{{ c }}"><a href="{{ site.baseurl }}{{ section.url }}">{{ section.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-4 right-bl hidden-xs">
                            <div class="bs-docs-sections">
                                <p>"Listrunner changed the way we make business and product decisions. Every decision is now data driven - we can test which prices work best, which marketing effort was most effective, and quickly find out any details or statistics across all the moving pieces of our platform."</p>
                                <p>Eliran Sapir, CEO, Apptopia</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-bl">
                        <div class="mobile-bl visible-xs">
                            <h3 class="question">Want to find out how we can help you?</h3>
                            <div class="col-md-12">
                                <div class="col-md-6 left-bl">
                                    <p><span>Email us</span><br>hello@listrunner.com</p>
                                </div>
                                <div class="col-md-6 right-bl">
                                    <p><span>Call us</span><br>+1 (855)-232-0320</p>
                                </div>
                            </div>
                        </div>
                        <div class="search-bl visible-md visible-lg">
                            <form action="">
                                <div class="contact-bl">
                                    <p>Want to find out how we can help you? Email us at <span>hello@listarunner.com</span> or call us at <span>+1 (855)-232-0320</span></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Search">
                                    <button class="search-btn" type="submit"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bs-docs-sections">
                    <ul class="footer-list">
                        <li class="col-md-4 hidden-xs">
                            <div class="bs-docs-sections">
                                <ul class="social-bl">
                                    <li class="facbook"><a href="#"></a></li>
                                    <li class="in"><a href="#" ></a></li>
                                    <li class="twitter"><a href="#"></a></li>
                                </ul>
                                <p class="phone-number"><span>Call us</span> +1 (855)-232-0320</p>
                            </div>
                        </li>
                        <li class="col-md-4 hidden-xs">
                            <div class="bs-docs-sections">
                                <p class="blog-Security">Blog: <a href="#">Security better than the bank...</a></p>
                            </div>   
                        </li>
                        <li class="col-md-2 more-link hidden-xs">
                            <a class="more" href="javascript:;">More</a>  
                            <a class="less" href="javascript:;">Less</a>  
                        </li>
                        <li class="col-md-2 live-chat">
                            <a href="#">Live Chat</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

