<div class="popup-container">
    <div class="popup-block">
        <span class="close-btn"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bs-docs-section">
                        <div class="get-started hide">
                            <form class="popup-form">
                                <h3 class="popup-title">Get Started</h3>
                                <div class="form-group col-md-12 mb-20">
                                    <input type="text" class="form-control" id="sing-up-email" placeholder="Email">
                                </div>
                                <a href="#" class="btn btn-big btn-success">Sign Up</a>
                                <p>or</p>
                                <div class="col-md-12">
                                    <a href="#" class="btn btn-dark app-store">App Store</a>
                                    <a href="#" class="btn btn-dark google-play">Google play</a>
                                </div>
                            </form>
                        </div>
                        <div class="sing-up hide">
                            <form class="popup-form">
                                <h3 class="popup-title">Welcome back!</h3>
                                <div class="form-group col-md-12 mb-20">
                                    <input type="text" class="form-control" id="sing-up-email" placeholder="Email">
                                </div>
                                <div class="form-group col-md-12 mb-20">
                                    <input type="text" class="form-control" id="sing-up-email" placeholder="Password">
                                </div>
                                <div class="checkbox-bl">
                                    <div class="form-group">
                                        <input id="remember" class="checkbox-input" name="profession" type="checkbox" value="2">
                                        <label class="checkbox-label" for="remember">Remember me</label>
                                    </div>
                                    <button type="submit" class="btn btn-big btn-success">Log In</button>
                                </div>  
                            </form>
                            <div class="bottom-bl col-md-12">
                                <a href="#" class="forgot-password">Forgot Password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>