<!-- Fixed navbar -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/img/logo.png" alt=""></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">{{ page.url }}
        <li class="{% if page.url contains '/product/' %}active{% endif %}"><a href="/product/listrunner">Product</a></li>
		    <li class="{% if page.url contains '/customers/' %}active{% endif %}"><a href="/customers/casestudies">Customers</a></li>
		    <li class="{% if page.url contains '/company/' %}active{% endif %}"><a href="/company/about">Company</a></li>
		    <li class="{% if page.url contains '/support/' %}active{% endif %}"><a href="/support/contact">Support</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      </div>
  </div>
</div>
