<script type="text/javascript" src="{{ site.baseurl }}{{ site.static_path }}/js/vendor/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.static_path }}/js/vendor/froogaloop2.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.static_path }}/js/vendor/jquery.fancybox.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.static_path }}/js/vendor/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.static_path }}/js/vendor/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.static_path }}/js/script.js"></script>
