<div>
	<ul class="customer-nav">
		<li class="{% if page.url contains '/customers/casestudies' %}active{% endif %}"><a href="/customers/casestudies">Case Studies</a></li>
		<li class="{% if page.url contains '/customers/testimonials' %}active{% endif %}"><a href="/customers/testimonials">Testimonials</a></li>
		<li class="{% if page.url contains '/customers/foo' %}active{% endif %}"><a href="/customers/foo">Foo</a></li>
		<li class="{% if page.url contains '/customers/tweets' %}active{% endif %}"><a href="/customers/tweets">Tweets</a></li>
	</ul>
</div>
<hr>