@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.navbar-inverse {
		.navbar-brand { 
			padding-right: 20px;
		}
		.navbar-nav {
			li {
				a { 
					padding: 5px 12px;
				}
			}
		}	
	}	
	.container {
		width: 1024px;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		.row {
			.p-title { padding-left: 235px;}

			.sidebar-left {
				padding-right: 21px;
				padding-left: 0;
				text-align: justify;
				width: 219px;
				float: left;
			}

			.sidebar-right {
				padding-left: 21px;
				padding-right: 0;
				text-align: justify;
				width: 219px;
				float: left;
				&.projects-bl {
					padding-top: 106px;
				}
			}

			.content-bl {
				float: left;
				width: 556px;
				padding-left: 16px;
				padding-right: 19px;
				text-align: justify;

				&.projects-bl {
					padding: 106px 48px 0 0;
					@include size(775px auto);
					.project-list {
						li {
						    margin-bottom: 25px;
						    margin-right: 56px;
						    width: 204px;
						    a.project-img {
							    line-height: 161px;
							    min-height: 161px;
							    img {
								    line-height: 161px;
								    max-width: 204px;
							    }
						    }
						}
					}
				}
				&.home-content {
					.home-carousel {
						margin-bottom: 23px;
						.carousel-inner {
							.item {
								min-height: 280px;
								line-height: 280px;
								img {
									line-height: 280px;
								}
								.info-project {
									text-align: left;
									@include position(absolute, 0px 0px auto 0px);
									.project-name {
										font: bold 34px/48px 'proxima_nova_rgbold';
										@include position(relative, auto auto auto auto);
										padding-left: 120px;
										padding-top: 100px;
									}	

									.realisation-link {
										font: normal 14px/14px 'proxima_nova_rgregular';
										margin-left: 120px;
										@include clearfix();
									}
								}
							}
						}

						.carousel-control.left,
						.carousel-control.right {
							background: transparent url('/img/icons-mdlm.png') 0 0 no-repeat;
							top: 50%;
							margin-top: -33px;
							filter: alpha(opacity=100);
							opacity: 1;
							z-index: 1000;
							@include size(56px 67px);
						}

						.carousel-control.right {
							right: 38px;
							background-position: 0 -311px;
							&:hover {
								background-position: -101px -311px;
							}
						}

						.carousel-control.left {
							left: 38px;
							background-position: 0 -237px;
							&:hover {
								background-position: -101px -237px;
							}
						}
					}

					.list-page {
						@include clearfix();
						display: block;
						margin-bottom: 30px;
						li{
							margin-right: 35px;
							float: left;
							font: 16px 'proxima_nova_rgregular';
							text-transform: uppercase;
							@include size(219px auto);
							@include transition(background-color 0.35s ease-in 0s);
							&:nth-child(3n) { margin-right: 0;}
							&:first-child { margin-right: 35px;}
							margin-bottom: 5px;
						}	
					}
				}
			}
		}
	}
}

