@media (max-width: $screen-xs-max) {
	body {
		padding-top: 84px;
	}
	.navbar-inverse {
		.navbar-brand { 
			padding-right: 20px;
			margin-top: -34px;
			img {
				display: block;
				max-width: 100%;
				width: 160px;
			}
		}
		.navbar-nav {
			li {
				a { 
					padding: 5px 12px;
					font-size: 12px;
				}
			}
		}	
		.collapse {
			.navbar-form {
				margin-top: -2px;
				padding-bottom: 13px;
				height: 54px;
				padding-left: 0;
				padding-right: 0;
				@include position(relative,auto auto auto auto);
				.form-group {
					float: left;
					margin: 0;
					width: 100%;
					padding-right: 17px;
					margin-right: -17px;
					@include box-shadow(none);
					input {
						width: 100%;
						height: 24px;
					}
				}

				.btn {
					margin-top: 8px;
				}
			}
		}

		.navbar-collapse {
			margin-top: 10px;
			border-top: transparent;
			@include box-shadow(none); 
		}
	}

	.wrapper {
		padding-bottom: 82px;
	}

	.container {
		padding-left: 30px;
		padding-right: 30px;
		.row {

			.p-title { padding-left: 0;margin-top: 42px;}

			.sidebar-left {
				padding-right: 0;
				padding-left: 0;
				text-align: justify;
				width: 100%;
				float: none;
				margin-bottom: 15px;

				.our-project-list {
					min-height: 0;
					.item {
						.tab-list {
							a {
								float: left;
								width: 32%;
								margin-right: 2%;
								margin-bottom: 0;
								img { width: 100%;}
								&.mobile-version {
									margin-right: 0;
								}

								&:last-child {
									margin-right: 0;
								}
							}
						}
					}
				}
			}

			.sidebar-right {
				padding-left: 0;
				padding-right: 0;
				text-align: justify;
				width: 100%;
				float: none;
				padding-bottom: 20px;
				margin-bottom: 15px;
				&.projects-bl {
					padding-top: 0;
				}
			}

			.content-bl {
				float: none;
				margin-bottom: 15px;
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				text-align: justify;
				
				.right-bl,
				.left-bl {
					width: 100%;
					float: none;
				}

				.right-bl {
					padding-left: 0;
				}

				&.projects-bl {
					padding: 42px 0 0 0;
					@include size(100% auto);
					.project-list {
						li {
						    margin-bottom: 25px;
						    margin-right: 36px;
						    width: 100%;
						    a.project-img {
							    line-height: 195px;
							    min-height: 195px;
							    img {
								    line-height: 195px;
								    max-width: 100%;
							    }
						    }
						    							
							&:nth-child(3n) {
					    		margin-right: 36px;
					    	}

					    	&:nth-child(2n) {
					    		margin-right: 0;
					    	}

						}
					}
				}
				&.home-content {
					.home-carousel {
							margin-bottom: 23px;
							.carousel-inner {
								.item {
									line-height: 130px;
									min-height: 130px;
									img {
										line-height: 130px;
									}
									.info-project {
										text-align: left;
										@include position(absolute, 0px 0px auto 0px);
										.project-name {
											font: bold 26px/48px 'proxima_nova_rgbold';
											@include position(relative, auto auto auto auto);
											padding-left: 90px;
											padding-top: 60px;
										}	

										.realisation-link {
											font: normal 14px/14px 'proxima_nova_rgregular';
											margin-left: 90px;
											width: 195px;
											@include clearfix();
										}
									}
								}
							}

							.carousel-control.left,
							.carousel-control.right {
								background: transparent url('/img/icons-mdlm.png') 0 0 no-repeat;
								top: 50%;
								margin-top: -33px;
								filter: alpha(opacity=100);
								opacity: 1;
								z-index: 1000;
								@include size(56px 67px);
								@include transform(scale(0.7));
							}

							.carousel-control.right {
								right: 18px;
								background-position: 0 -311px;
								&:hover {
									background-position: -101px -311px;
								}
							}

							.carousel-control.left {
								left: 18px;
								background-position: 0 -237px;
								&:hover {
									background-position: -101px -237px;
								}
							}
					}
					.list-page {
						@include clearfix();
						display: block;
						margin-bottom: 30px;
						li{
							float: none;
							font: 16px 'proxima_nova_rgregular';
							text-transform: uppercase;
							@include size(100% auto);
							@include transition(background-color 0.35s ease-in 0s);
							&:nth-child(3n) { margin-right: 0;}
							&:first-child { margin-right: 0px;}
							margin-bottom: 5px;
						}	
					}
				}
			}

			.carousel-details {
				.carousel-inner {
					.item {
						.carousel-caption {	
							padding: 2px 25px !important;
							font-size: 12px !important;
							line-height: 16px !important;
						}

						.zoom-ico {	
							@include transform(scale(0.5));
						}
					}
				}

			.carousel-control.right,
			.carousel-control.left {
				@include transform(scale(0.8));
			}

			.carousel-control.left { left: 14px;}
			.carousel-control.right {right: 14px;}
			}
		}
	}

		.error-page {
		padding-bottom: 82px;
		.container { 
			.row {
				.p-title {
					display: none;
				}

				.content-bl {
					text-align: center;
					width: 100%;
					font: normal 14px/22px 'proxima_nova_rgregular';
					padding-bottom: 41px;
					color: #4a4a4a;
					div {
						text-align: center;
						.mb-43 { margin-bottom: 43px !important;}
						.error-title {
							font: bold 100px/150px 'proxima_nova_rgbold';
							padding-top: 70px;
							display: inline-block;
							text-align: center;
							margin-bottom: 14px;
							color: #4a4a4a;
						}

						.error-subtitle {
							text-transform: uppercase;
							font: 100 22px/26px 'proxima_nova_rgregular';
							letter-spacing: 1px;
							margin-bottom: 28px;
						}

						.btn {
							background: #01a2ba none;
							font: normal 14px/14px 'proxima_nova_rgregular';
							text-shadow:none;
							padding: 9px 39px 8px;
							color: #fff;
							border: 0 none;
							@include box-shadow(none);
							@include border-radius(0);
						}
					}
				}
			}
		}
	}

}
