@import "site/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "site/bourbon/bourbon";
@import "site/base";

html, body {
    height: 100%;
}

body {
	min-width: 0;
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	&.overlay:after {
		background: transparent url('../img/pattern.png') 0 0 repeat;
		content: '';
		display: block;
		z-index: 100;
		@include size(100%);
		@include position(fixed,0px 0px 0px 0px);
	}
}

.wrapper {
	position: relative;
	min-height: 100%; 
	padding-bottom: 82px;
}


.btn {
	font: 16px/24px 'Source Sans Pro', sans-serif;
	border: 1px solid #232323;
	padding: 10px 24px;
	position: relative;
	color: #232323;
	@include border-radius(3px);
	@include transition(color 0.35s,background-color 0.35s, border-color 0.35s);
	&:hover {
		font-weight: normal;
	}

	&.btn-big {
		padding: 17px 75px 18px;
		font: 18px/18px 'Source Sans Pro', sans-serif;
		border: 0 none;
		color: #fff;
	}

	&.btn-success {
		background-color: #33cc99;
		@include box-shadow( 0px 2px 0px 0px #30be8f);
	}

	&.btn-success:hover {
		top: -2px;
		background-color: #35d29e;
		@include box-shadow( 0px 4px 0px 0px #30be8f);
	}

	&.btn-success:active {
		background-color: #33cc99;
		top: 2px;
		@include box-shadow( none);
	}

	&.btn-dark {
		background-color: #232323;
		text-decoration: none;
		color: #fff !important;
	}

	&.btn-dark:hover {
		color: #fff !important;
		background-color: #3a3a3a !important;
		border-color: #3a3a3a;
	}

	&.btn-dark:active {
		background-color: #666 !important;
		border-color: #666;
	}

	&.btn-dark:active { background-color: #666;border-color: #666;}

	&.app-store,
	&.google-play {
		background-image: url('../img/app-btn.png');
		background-repeat: no-repeat;
		padding: 16px 24px 17px;
		text-indent: -999em;
		width: 130px;
		display: block;
		border-bottom: 2px solid #000;
		@include box-shadow( 0 1px 1px 0px #d2d2d4);
	}

	&.app-store {
		background-position: 10px 10px;
		float: left;
	}

	&.google-play {
		float: right;
		background-position: 11px -57px;
	}
}

.form-group {
	margin-bottom: 14px;
	position: relative;
	label {
		font: 16px/24px 'Source Sans Pro', sans-serif;
		margin-bottom: 7px;
		margin-top: 0;
		width: auto;
		height: auto;
		text-align: left;
	}

	input {
		background-color: transparent;
		height: 30px;
		font-size: 18px;
		border-color: #dedede;
		height: 59px;
		padding: 6px 23px;
		text-align: left;
		color: #666;
		@include box-shadow(0px 2px 0px 0px #ececec);
		@include transition(background-color 0.35s);
		&:focus {
			background-color: #fff;
			border-color: #dedede;
			@include box-shadow(0px 2px 0px 0px #ececec);
		}
	}
}

.checkbox-bl {
	text-align: left;
	clear: both;

	@include clearfix();
	.checkbox-input,
	.radio-input { display: none; }

	.checkbox-label:before,
	.radio-label:before {
	  display: inline-block;
	  background: transparent none;
	  content: "";
	  margin-right: 16px;
	  margin-bottom: -3px;
	  border: 1px solid #dedede;
	  @include size(17px);
	  @include border-radius(4px);
	}

	.checkbox-input:checked + .checkbox-label:before,
	.radio-input:checked + .radio-label:before { background: transparent url('../img/icons.png') 2px 4px no-repeat; }

	.btn.btn-success {
		padding-left: 29px;
		padding-right: 29px;
		width: auto !important;
		float: right;
		margin-bottom: 0 !important;
	}

	.form-group { 
		float: left;
		padding-top: 18px;
		margin-bottom: 0;
	}
}




.container { max-width: 1030px;}

@import "site/partials/pages/all";
@import "site/partials/media/all";
