@import "site/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "site/bourbon/bourbon";
@import "site/base";

html, body {
    height: 100%;
}

body {
	min-width: 0;
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;

	&.overlay:after {
		background: transparent url('../img/pattern.png') 0 0 repeat;
		content: '';
		display: block;
		z-index: 50;
		@include size(100%);
		@include position(fixed,0px 0px 0px 0px);
	}
}

.wrapper {
	position: relative;
	min-height: 100%; 
	padding-bottom: 82px;
}


.btn {
	font: 16px/24px 'Source Sans Pro', sans-serif;
	border: 1px solid #232323;
	padding: 10px 24px;
	position: relative;
	color: #232323;
	@include border-radius(3px);
	@include transition(color 0.35s,background-color 0.35s, border-color 0.35s);
	&:hover {
		font-weight: normal;
	}

	&.btn-big {
		padding: 17px 75px 18px;
		font: 18px/18px 'Source Sans Pro', sans-serif;
		border: 0 none;
		color: #fff;
	}

	&.btn-success {
		background-color: #33cc99;
		@include box-shadow( 0px 2px 0px 0px #30be8f);
	}

	&.btn-success:hover {
		top: -2px;
		background-color: #35d29e;
		@include box-shadow( 0px 4px 0px 0px #30be8f);
	}

	&.btn-success:active {
		background-color: #33cc99;
		top: 2px;
		@include box-shadow( none);
	}
}

.btn.btn-dark {
	background-color: #232323;
	color: #fff;
	&:hover {
		border-color: #3a3a3a;
		color: #fff;
		background-color: #3a3a3a;
	}

	&:active { background-color: #666;border-color: #666;}
}



.container { max-width: 1030px;}

@import "site/partials/pages/all";
@import "site/partials/media/all";