---
layout: product
title: Security
category: security
customers_page: security-page
---
<!--{% assign no_posts = true %}

{% for post in site.posts %}      
  {% if post.category == 'security' %}
    <div class="post">
      <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <small><strong>Category:</strong> {{ post.category }}</small>
      <p class="meta">Date: {{ post.date }}</p>
      <div class="entry">
        {{ post.content }}
      </div>
    </div>
    {% assign no_posts = false %}
  {% endif %}
{% endfor %}

{% if no_posts %}
  <div class="alert alert-warning">There is no content</div>
{% endif %}-->
<div class="info-bl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="customers-top-bl">
                    <div class="customers-top-content">
                        <h1 class="top-title">An in-depth look at a few of our<br> favorite customers.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="security-basic">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bs-docs-section">
                    <h3 class="security-title locked"><strong>Listrunner</strong> SECURITY BASICS</h3>
                    <ul class="security-basic-list">
                        <li class="col-md-6">
                            <h3 class="question-title">Your patient data is safe</h3>
                            <div class="question-content">
                                <p>We use better security than the banks. All patient health information is strongly encrypted, both at rest and transit using certified regulatory compliant servers.</p>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <h3 class="question-title">Control access</h3>
                            <div class="question-content">
                                <p>You decide who has access to your list and for how long. Easily add and remove rotating staff and learners. With audited records, you always know who has seen what.</p>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <h3 class="question-title">Cloud protection</h3>
                            <div class="question-content">
                                <p>Listrunner allows you to enable a cloud mode so no data is stored locally on your device. If your phone is lost or stolen, no personal health information is left on the device.</p>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <h3 class="question-title">Easily Managed Permissions</h3>
                            <div class="question-content">
                                <p>We only access your data through our controlled servers, protected by industry-standard security measures both physical and electronic, and never import or store your database.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="security-library">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bs-docs-section">
                    <h3 class="security-title"><strong>Listrunner</strong> SECURITY library</h3>
                    <ul class="security-lib-info">
                        <li class="col-md-6">
                            <p>We're committed to providing clear documentation of our security practices and encouraging good habits in our customers and trial users.</p>
                        </li>
                        <li class="col-md-6">
                            <p>We'll continue to publish security-related content here at listrunner.com/security, to give you one easy domain to remember and reference.</p>
                        </li>
                    </ul>
                    <ul class="library-option-list">
                        <li class="col-md-4">
                            <a href="#" class="option-title">Working with the Database</a>
                            <div class="option-excerpt">
                                <p>Security & performance considerations</p>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <a href="#" class="option-title">Access Controls</a>
                            <div class="option-excerpt">
                                <p>How Listrunner accesses your data, and user permissions.</p>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <a href="#" class="option-title">Best Practice: MySQL Backups</a>
                            <div class="option-excerpt">
                                <p>Creating a slave database to work with Listrunner.</p>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <a href="#" class="option-title">Simplified Database Access & Performance</a>
                            <div class="option-excerpt">
                                <p>Analytic performance considerations.</p>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <a href="#" class="option-title">Connections</a>
                            <div class="option-excerpt">
                                <p>About Listrunner connections.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contacts-product-bl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contacts-product-content">
                    <div class="center-bl">
                        <p>Questions? Email us at <span>hello@listrunner.com</span> or give us a call at <span>+1 (855)-232-0320</span> during business hours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
