---
layout: product
title: Security
category: security
---
{% assign no_posts = true %}

{% for post in site.posts %}      
  {% if post.category == 'security' %}
    <div class="post">
      <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <small><strong>Category:</strong> {{ post.category }}</small>
      <p class="meta">Date: {{ post.date }}</p>
      <div class="entry">
        {{ post.content }}
      </div>
    </div>
    {% assign no_posts = false %}
  {% endif %}
{% endfor %}

{% if no_posts %}
  <div class="alert alert-warning">There is no content</div>
{% endif %}
