---
layout: customers
title: Tweets
category: tweets
customers_page: tweets-page
---
<!--{% for post in site.posts %}      
  {% if post.category == 'tweets' %}
	<div class="post">
		<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <small><strong>Category:</strong> {{ post.category }}</small>
		<p class="meta">Date: {{ post.date }}</p>
		<div class="entry">
			{{ post.content }}
		</div>
	</div>
  {% endif %}
{% endfor %}-->
<div class="info-bl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="customers-top-bl">
                    <div class="customers-top-content">
                        <h1 class="top-title">A lot of people are saying a lot of great things.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="bs-docs-section">
				<ul class="tweets-list">
					<li>
						<div class="tweets-comment col-md-7">
							<a href="#" class="tweets-img">
						        <img alt="tweets" src="{{ site.baseurl }}{{ site.static_path }}/img/customers/tweets/tweets-1.jpg">
						    </a>
						    <div class="tweets-body">
						        <h4 class="tweets-name">@aaronfoss</h4>
						        <div class="tweets-content">
						        	<p>Loving @chartio - Makes my life so much easier. Looking for a flexible dashboard SaaS? Definitely check them out.</p>
						        </div>
						    </div>
						</div>
					</li>
					<li>
						<div class="tweets-comment col-md-7">
							<a href="#" class="tweets-img">
						        <img alt="tweets" src="{{ site.baseurl }}{{ site.static_path }}/img/customers/tweets/tweets-2.jpg">
						    </a>
						    <div class="tweets-body">
						        <h4 class="tweets-name">@lukethomas14</h4>
						        <div class="tweets-content">
						        	<p>@chartio is mind-blowing. If you need a metrics dashboard from your db (or need to mashup data), it's a must have.</p>
						        </div>
						    </div>
						</div>
					</li>
					<li>
						<div class="tweets-comment col-md-7">
							<a href="#" class="tweets-img">
						        <img alt="tweets" src="{{ site.baseurl }}{{ site.static_path }}/img/customers/tweets/tweets-3.jpg">
						    </a>
						    <div class="tweets-body">
						        <h4 class="tweets-name">@kiran</h4>
						        <div class="tweets-content">
						        	<p>I'm pretty sure I check @chartio more than I check Twitter. Is there a name for this particular addiction?</p>
						        </div>
						    </div>
						</div>
					</li>
					<li>
						<div class="tweets-comment col-md-7">
							<a href="#" class="tweets-img">
						        <img alt="tweets" src="{{ site.baseurl }}{{ site.static_path }}/img/customers/tweets/tweets-4.jpg">
						    </a>
						    <div class="tweets-body">
						        <h4 class="tweets-name">@jimmywinter</h4>
						        <div class="tweets-content">
						        	<p>Pretty big fan of what @chartio is doing! Really making the reporting part of my job easier. Booya!</p>
						        </div>
						    </div>
						</div>
					</li>
					<li>
						<div class="tweets-comment col-md-7">
							<a href="#" class="tweets-img">
						        <img alt="tweets" src="{{ site.baseurl }}{{ site.static_path }}/img/customers/tweets/tweets-5.jpg">
						    </a>
						    <div class="tweets-body">
						        <h4 class="tweets-name">@jamesepember</h4>
						        <div class="tweets-content">
						        	<p>God damn, I love Chartio. By far the best reporting dashboard I've tried.</p>
						        </div>
						    </div>
						</div>
					</li>
					<li>
						<div class="tweets-comment col-md-7">
							<a href="#" class="tweets-img">
						        <img alt="tweets" src="{{ site.baseurl }}{{ site.static_path }}/img/customers/tweets/tweets-6.jpg">
						    </a>
						    <div class="tweets-body">
						        <h4 class="tweets-name">@SequoiaWaste</h4>
						        <div class="tweets-content">
						        	<p>@Chartio has come a long way in their first year! Congrats & we're excited to see what slick new features are coming in the future!</p>
						        </div>
						    </div>
						</div>
					</li>
					<li>
						<div class="tweets-comment col-md-7">
							<a href="#" class="tweets-img">
						        <img alt="tweets" src="{{ site.baseurl }}{{ site.static_path }}/img/customers/tweets/tweets-7.jpg">
						    </a>
						    <div class="tweets-body">
						        <h4 class="tweets-name">@jabbawy</h4>
						        <div class="tweets-content">
						        	<p>Thanks to @chartio and @_dave for literally changing my life and helping us unlock our insights. </p>
						        </div>
						    </div>
						</div>
					</li>
					<li>
						<div class="tweets-comment col-md-7">
							<a href="#" class="tweets-img">
						        <img alt="tweets" src="{{ site.baseurl }}{{ site.static_path }}/img/customers/tweets/tweets-8.jpg">
						    </a>
						    <div class="tweets-body">
						        <h4 class="tweets-name">@stevejburge</h4>
						        <div class="tweets-content">
						        	<p>http://chartio.com is the most fun I've ever had with business data. Great graphing tool.</p>
						        </div>
						    </div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="request-demo-bl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cetntrate-middle">
                    <div class="request-demo-content">
                        <h1 class="top-title">Listrunner lets you quickly turn all your data into actionable insights.<br>Request a demo and see it in action today!</h1>
                        <a href="#" class="btn btn-big request-demo-btn">Request a Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


