@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.navbar {
		position: relative;
		background: #f5f5f5 none;
		min-height: 116px;
		border: 0 none;
		margin-bottom: 0;
		.navbar-brand { 
			background: transparent url('../img/logo.png') 0 0 no-repeat;
			padding: 0 0 0 0;
			margin-top: 23px;
			margin-left: 15px !important;
			position: relative;
			z-index: 100;
			@include size(194px 70px);
		}

		.navbar-toggle {
			margin: 3px 0 3px 0;
			padding: 4px;
			border-color: #fff;
			@include border-radius(0);
			&:hover {
				border-color: #333;
			}
		}
		
		.navbar-nav {
			text-align: left;
			float: right;
			li {
				font-family: 'Source Sans Pro', sans-serif;
				min-height: 116px;
				line-height: 113px;
				padding-top: 2px;
				a {
					display: inline-block;
					font-size: 16px;
					padding: 5px 23px 5px;
					text-transform: capitalize;
					color: #666;
					@include transition(color 0.45s);
					&:hover {
						font-weight: 400;
						background: transparent none !important;
						color: #33cc99 !important;
					}

					&.btn {
						padding: 10px 24px;
						font-weight: normal;
						color: #232323;
						@include transition(border-color 0.45s,background-color 0.45s,color 0.45s);
					}

					&.btn.btn-login:hover {
						border-color: #797979;
						color: #797979 !important;
					}

					&.btn.btn-login:active {
						border-color: #ccc;
						color: #ccc !important;
						@include box-shadow(none);
					}

					&.btn.btn-dark {
						background-color: #232323;
						color: #fff;
					}

					&.btn.btn-dark:hover {
						color: #fff !important;
						background-color: #4c4c4c !important;
						border-color: #4c4c4c;
					}

					&.btn.btn-dark:active {
						background-color: #787878 !important;
						border-color: #787878;
					}
				}

				&.active {
					a {
						font-weight: 400;
						background: transparent none !important;
						color: #33cc99 !important;
					}
				}

				&.login {
					margin-right: 23px;
					margin-left: 25px;
					padding-top: 0;
					a {
						padding: 10px 23px;
					}
				}

				&.get-started { padding-top: 0;}
			}
		}
		.collapse {
			position: relative;

			.navbar-form {
				background-color: #ccc;
				padding: 9px 9px 8px 10px;
				@include position(absolute,29px 17px auto auto);
				.form-group {
					float: left;
					margin: 0;
					input {
						width: 125px;
						border: 1px solid #cdcac5;
						background-color: #eaeaea;
						padding: 0 10px 0 10px;
						height: 20px;
						font: italic 10px/10px 'proxima_nova_rgregular';
						color: #000;
						@include border-radius(0);
						&:focus {
							@include box-shadow(none);
						}
					}
				}
				.btn {
					border: 0 none;
					background: transparent none; 
					padding: 0;
					margin-left: 8px;
					margin-top: 3px;
					position: relative;
					@include size(9px 10px);
					@include box-shadow(none);
					&:after {
						background: transparent url('../img/icons-mdlm.png') 0 -402px no-repeat;
						content: '';
						display: block;
						opacity: 1;
						@include position(absolute,0px auto auto 0px);
						@include size(100% 100%);
					}

					&:before {
						background: transparent url('../img/icons-mdlm.png') -101px -402px no-repeat;
						content: '';
						display: block;
						opacity: 0;
						visibility: hidden;
						@include position(absolute,0px auto auto 0px);
						@include size(100% 100%);
					}
					&:hover {
						&:after {
							opacity: 0;
							visibility: hidden;
						}

						&:before {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	.home-page .wrapper-inn {
	    padding-top: 73px;
	    .info-bl {
	        padding: 42px 0 0 0;
	        .partners-bl {
	            @include clearfix();
	            li {
 
	                &.edscurge  { padding-right: 40px;}

	                &.citrix {
	                    padding-left: 40px;
	                    padding-right: 40px;
	                }

	                &.delloite {
	                    padding-left: 40px;
	                    padding-right: 0;
	                }
	            }
	        }
	    }

	    .video-bl { padding: 0 0 0 12px;}
	}	
	footer {
		.footer-more {
			.search-bl {
				.form-group {
					input {
						width: 250px;
					}
				}
			}
		}
	}

	/*SUPPORT PAGE*/
	.support-content {
	    .video-list {
	        li {
	            width: 320px;
	            &:first-child,
	            &:nth-child(3n + 1) {
	                padding-left: 0;
	                width: 300px;
	            }
	        }
	    }
	}
	@import "support/1024";
	@import "product/1024";
	@import "company/1024";
	@import "customers/1024";
}

