@media (max-width: 570px) {
	.wrapper { min-height: 0;}
	.home-page .wrapper-inn {
		padding-top: 46px;
	    .info-bl {
	        padding: 18px 0 0 0;
	        .p-title {
				text-align: center;
	            font: 300 20px/25px 'Source Sans Pro', sans-serif;
	            margin-bottom: 18px;
	            padding-top: 0;
	        }

	        .possible-start {
	        	padding-bottom: 30px;
	            li {
	                font: normal 14px/14px 'Source Sans Pro', sans-serif;
	                display: block;
	                float: none;
	                color: #97989b;
	                a {
	                    font: 700 14px/14px 'Source Sans Pro', sans-serif;
	                    text-decoration: underline;
	                    color: #232323;
	                    &:hover {
	                        text-decoration: none;
	                    }
	                }

	                .btn {
	                	font-size: 14px;
	                	padding: 11px 41px 10px;
	                    color: #fff;
	                    font-weight: normal;
	                    text-decoration: none;
	                }
	                &.or {
	                    padding: 14px 27px 3px; 
	                }

	                &.product-page { padding-top: 8px;}
	            }
	        }

	        .partners-bl {
	        	width: 248px;
	        	margin: 0 auto 13px;
				border-bottom: 0 none;
				padding: 17px 0;
				li {
					height: 29px;
					&.edscurge  {
	                    padding-right: 24px;
	                    a {
	                        margin-top: 9px;
	                        @include size(50px 28px);
	                    }
	                }

	                &.citrix {
	                    padding-left: 24px;
	                    padding-right: 24px;
	                    a {
	                        margin-top: 6px;
	                        @include size(50px 39px);
	                    }
	                }

	                &.delloite {
	                    padding-left: 24px;
	                    padding-right: 0;
	                    a {
	                        margin-top: 11px;
	                        @include size(50px 19px);
	                    }
	                }

	                &:after {
	                    background-color: #ddddde;
	                    display: block;
	                    content: '';
	                    margin-top: -14px;
	                    @include size(1px 29px);
	                    @include position(absolute, 50% auto auto 0px);
	                }
                }
	        }
	    }

	    .video-bl {
	        padding: 0;
	        float: none;
	        @include clearfix();
	        .iphone-bl {
	            background: transparent none;
	            float: none;
	            margin: -42px auto -30px;
	            @include size(137px 140px);
	            .video-btn {
	            	background-position: -84px 0;
	            	margin: 0;
	            	position: relative;
	            	top: auto;
	            	left: auto;
	            	@include transform(scale(0.4));
	            	@include size(137px 140px);
	            }
	        }

	        .play-video {
	            float: none;
	            background: transparent url('../img/play-mobile.png') 0 0 no-repeat;
	            display: block;
	            position: relative;
	            margin-top: 5px;
	            margin: 0 auto;
	            @include size(72px 42px);
	        }
	    }
	}

	footer {
			background: #232323 none;
			height: auto;
			margin-top: 0;
			position: relative;
			z-index: 10;
			color: #fff;
			.col-md-12 { padding: 0;}
		.footer-list {
			li {
				float: left;
				&:first-child {
					border: 0 none;
					width: 50%;
				}

				.social-bl {
					li {
						float: left;
						border: 0 none;
						padding: 0;
						min-height: 0;
						a {
							background: transparent url('../img/social-icon.png') 0 0 no-repeat;
							display: block;
						}
						&.in {
							display: block;
							margin-right: 29px;
						}
					}
				}

				&.live-chat { 
					width:100%;
					background-color: #232323;
					text-align: center;
					padding-top: 17px;
					padding-bottom: 18px;
					border-top: 1px solid #181818;
					border-left: 0 none;
					min-height: 0;
					a { font-size: 14px;} 
				}
			}
		}

		.footer-more {
			display: block;
			overflow: hidden;
			z-index: 10;
			padding-top: 0;
			width: 100%;
			height: auto;
			@include position(relative,auto auto auto auto);
			@include transition(padding 0.35s);
			.container {
				.row {
					.col-md-12 {
						.footer-pages {
							padding-top: 52px;
							border: 0 none;
							padding-bottom: 0;
							@include clearfix();
							.left-bl {
								padding-left: 30px;
								padding-right: 0;
								width: 80%;
								margin: 0 auto;
								border-bottom: 1px solid #191919;
								@include clearfix();
								.col-md-3 {
									padding: 0;
									float: left;
									display: inline-block;
									margin-bottom: 29px;
									width: 43%;
									.page-title {
										text-transform: uppercase;
										font: bold 14px/14px 'Source Sans Pro', sans-serif;
										margin-bottom: 15px;
										color: #858585;
									}

									.pages-list {
										li {
											text-align: left;
											font: 300 14px/28px 'Source Sans Pro', sans-serif;
											color: #ccc;
											a {

												text-decoration: none;
												color: #ccc;
												@include transition(color 0.35s);
												&:hover {
													color: #33cc99;
												}
											}

											&.active {
												a {
													color: #33cc99;
												}
											}
										}
									}

									&:nth-child(2n + 1) {
										clear: both;
										float: left;
									}

									&:nth-child(2n) { 
										padding-left: 20px;
										float: right;
									}
								}
							}
						}
					}
				}
			}
		}
		.info-bl {
			padding-top: 34px;
			padding-bottom: 30px;
			width: 80%;
			margin: 0 auto;
			@include clearfix();
			.question {
				font: 400 16px/16px 'Source Sans Pro', sans-serif;
				text-align: center;
				margin-bottom: 26px;
				color: #25cd98;
			}

			.col-md-12 {
				.col-md-6 {
					float: left;
					width: 50%;
					padding: 0;
					font: 400 14px/26px 'Source Sans Pro', sans-serif;
					color: #f3f3f2;

					span { 
						font-weight: 300;
						color: #858585;
					}
					&.left-bl {
						text-align: left;
						padding-right: 10px;
					}

					&.right-bl {
						text-align: right;
						padding-left: 10px;
					}
				}
			}
		}
	}

}
