@media (max-width: 570px) {
	.home-page .wrapper-inn {
		padding-top: 46px;
	    .info-bl {
	        padding: 18px 0 0 0;
	        .p-title {
				text-align: center;
	            font: 300 20px/25px 'Source Sans Pro', sans-serif;
	            margin-bottom: 18px;
	            padding-top: 0;
	        }

	        .possible-start {
	        	padding-bottom: 30px;
	            li {
	                font: normal 14px/14px 'Source Sans Pro', sans-serif;
	                display: block;
	                float: none;
	                color: #97989b;
	                a {
	                    font: 700 14px/14px 'Source Sans Pro', sans-serif;
	                    text-decoration: underline;
	                    color: #232323;
	                    &:hover {
	                        text-decoration: none;
	                    }
	                }

	                .btn {
	                	font-size: 14px;
	                	padding: 11px 41px 10px;
	                    color: #fff;
	                    font-weight: normal;
	                    text-decoration: none;
	                }
	                &.or {
	                    padding: 14px 27px 3px; 
	                }

	                &.product-page { padding-top: 8px;}
	            }
	        }

	        .partners-bl {
	        	width: 248px;
	        	margin: 0 auto 13px;
				border-bottom: 0 none;
				padding: 17px 0;
				li {
					height: 29px;
					&.edscurge  {
	                    padding-right: 24px;
	                    a {
	                        margin-top: 9px;
	                        @include size(50px 28px);
	                    }
	                }

	                &.citrix {
	                    padding-left: 24px;
	                    padding-right: 24px;
	                    a {
	                        margin-top: 6px;
	                        @include size(50px 39px);
	                    }
	                }

	                &.delloite {
	                    padding-left: 24px;
	                    padding-right: 0;
	                    a {
	                        margin-top: 11px;
	                        @include size(50px 19px);
	                    }
	                }

	                &:after {
	                    background-color: #ddddde;
	                    display: block;
	                    content: '';
	                    margin-top: -14px;
	                    @include size(1px 29px);
	                    @include position(absolute, 50% auto auto 0px);
	                }
                }
	        }
	    }

	    .video-bl {
	        padding: 0;
	        float: none;
	        @include clearfix();
	        .iphone-bl {
	            background: transparent none;
	            float: none;
	            margin: -42px auto -30px;
	            @include size(137px 140px);
	            .video-btn {
	            	background-position: -84px 0;
	            	margin: 0;
	            	position: relative;
	            	top: auto;
	            	left: auto;
	            	@include transform(scale(0.4));
	            	@include size(137px 140px);
	            }
	        }

	        .play-video {
	            float: none;
	            background: transparent url('../img/play-mobile.png') 0 0 no-repeat;
	            display: block;
	            position: relative;
	            margin-top: 5px;
	            margin: 0 auto;
	            @include size(72px 42px);
	        }
	    }
	}

}
