@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.navbar {
		.navbar-brand { 
			background: transparent url('../img/logo.png') 0 0 no-repeat;
			padding: 0 0 0 0;
			margin-top: 23px;
			margin-left: 15px !important;
			position: relative;
			z-index: 100;
			@include size(49px 70px);
		}
		
		.navbar-nav {
			text-align: left;
			li {
				font-family: 'Source Sans Pro', sans-serif;
				min-height: 116px;
				line-height: 113px;
				padding-top: 2px;
				a {
					display: inline-block;
					font-size: 16px;
					padding: 5px 21px 5px;
					text-transform: capitalize;
					color: #666;
				}
				&.login {
					margin: 0 20px;
				}
			}
		}
	}

	.home-page .wrapper-inn {
	    .info-bl {
	        padding: 42px 0 0 0;
	        .p-title {
	            padding-top: 0px;
	            font: 300 40px/50px 'Source Sans Pro', sans-serif;
	            text-align: center;
	            margin-bottom: 46px;
	            color: #232323;
	        }

	        .possible-start {
	            padding-bottom: 56px;
	            text-align: center;
	            @include clearfix();
	            li {
	                font: normal 18px/24px 'Source Sans Pro', sans-serif;
	                display: block;
	                float: none;
	                color: #97989b;
	                a {
	                    font: 700 18px/24px 'Source Sans Pro', sans-serif;
	                    text-decoration: underline;
	                    color: #232323;
	                    &:hover {
	                        text-decoration: none;
	                    }
	                }

	                .btn {
	                    color: #fff;
	                    font-weight: normal;
	                    text-decoration: none;
	                }
	                &.or {
	                    padding: 17px 36px 0; 
	                }

	                &.product-page { padding-top: 17px;}
	            }
	        }

	        .partners-bl {
	            border-top: 1px solid #d3d3d2;
	            border-bottom: 1px solid #d3d3d2;
	            padding: 37px 0;
	            text-align: center;
	            width: 500px;
	            margin: 0 auto 10px; 
	            @include clearfix();
	            li {
	                display: block;
	                float: left;
	                position: relative;
	                padding: 0;
	                height: 58px;
	                a {
	                    background: transparent url('../img/partners.png') 0 0 no-repeat;
	                }

	                &.edscurge  {
	                    padding-right: 50px;
	                    a {
	                        margin-top: 15px;
	                        background-position: 0 0;
	                        display: inline-block;
	                        @include size(100px 28px);
	                    }
	                }

	                &.citrix {
	                    padding-left: 49px;
	                    padding-right: 48px;
	                    a {
	                        margin-top: 10px;
	                        background-position: 0 -56px;
	                        display: inline-block;
	                        @include size(100px 39px);
	                    }
	                }

	                &.delloite {
	                    padding-left: 49px;
	                    padding-right: 0;
	                    a {
	                        margin-top: 20px;
	                        background-position: 0 -117px;
	                        display: inline-block;
	                        @include size(100px 19px);
	                    }
	                }

	                &:first-child:after {
	                    display: none;
	                }

	                &:after {
	                    background-color: #ddddde;
	                    display: block;
	                    content: '';
	                    margin-top: -29px;
	                    @include size(1px 58px);
	                    @include position(absolute, 50% auto auto 0px);
	                }
	            }
	        }
	    }

	    .video-bl {
	        padding: 0 0 0 36px;
	        float: none;
	        position: relative;
	        @include clearfix();
	        .iphone-bl {
	            background: transparent url('../img/iphone.png') 0 0 no-repeat;
	            display: block;
	            float: none;
	            margin: 0 auto;
	            @include size(366px 671px);
	        }

	        .play-video {
	            float: none;
	            top: 50%;
	            right: 0;
	            margin-top: -40px;
	            background: transparent url('../img/play-video.png') 0 0 no-repeat;
	            display: block;
	            position: absolute;
	            margin-top: -45px;
	            @include size(176px 92px);
	        }
	    }
	}

	footer{
		.footer-list {
			li {
				float: left;
				&:first-child {
					border: 0 none;
					width: 50%;
				}

				.social-bl {
					li {
						float: left;
						border: 0 none;
						padding: 0;
						min-height: 0;
						a {
							background: transparent url('../img/social-icon.png') 0 0 no-repeat;
							display: block;
						}
						&.in {
							display: block;
							margin-right: 29px;
						}
					}
				}

				&.live-chat { width: 25%;}
				&.more-link { width: 25%;}
				&:nth-child(2) { display: none;}
			}
		}

		.footer-more {
			display: block;
			overflow: hidden;
			z-index: 1000;
			padding-top: 0;
			background-color: #272727;
			width: 100%;
			height: 0;
			@include position(absolute,auto auto 100% auto);
			@include transition(padding 0.35s);
			.container {
				.row {
					.col-md-12 {
						.footer-pages {
							border-bottom: 1px solid #191919;
							padding-bottom: 52px;
							@include clearfix();
							.left-bl {
								padding-left: 0;
								margin-bottom: 15px;
								@include clearfix();
								.col-md-3 {
									padding: 0;
									float: left;
									width: 25%;
									.page-title {
										text-transform: uppercase;
										font: normal 18px/24px 'Source Sans Pro', sans-serif;
										margin-bottom: 18px;
										color: #858585;
									}

									.pages-list {
										li {
											font: 300 16px/36px 'Source Sans Pro', sans-serif;
											color: #ccc;
											a {

												text-decoration: none;
												color: #ccc;
												@include transition(color 0.35s);
												&:hover {
													color: #33cc99;
												}
											}

											&.active {
												a {
													color: #33cc99;
												}
											}
										}
									}
								}
							}

							.right-bl {
								clear: both;
								font: 300 16px/28px 'Source Sans Pro', sans-serif;
								padding-right: 0;
								padding-left: 0;
								color: #f3f3f2;
								@include clearfix();
							}
						}
					}
				}
			}
			&.active { 
				padding-top: 52px;
				height: auto;
			}
		}
	}

}